.randomPlanet {
  display: flex;
  padding: 1rem;
  border: 1px solid #444;
  background: #2B2A2B;

  .planet-image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 1rem;
  }

  .list-group {
    margin: 1rem 0 0 1rem;
  }

  .list-group-item {
    padding: .25rem;
    border-color:  #444;
    background: #2B2A2B;

    .term {
      margin-right: .5rem;
    }
  }
}