.header {
  display: flex;
  margin-top: .5rem;
  padding-left: 10px;
}

.header__lists {
  display: flex;
}

.header__item {
  list-style: none;
  margin: 0;
  padding: .5rem 1rem;
  border-radius: 3px;

  &:hover {
    background-color: #444;
  }
}

.header a {
  text-decoration: none;
  color: #00bc8c;
}

.header h3 a {
  color: #fff;

  &:hover {
    color: #00bc8c;
  }
}

.header button {
  height: 2.2rem;
  margin-top: 1px;
  margin-left: 3px;
}